<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://asnxubxvapujyxvnfgnu.supabase.co</string>
	<key>SUPABASE_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFzbnh1Ynh2YXB1anl4dm5mZ251Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI3OTY2MTYsImV4cCI6MjA3ODM3MjYxNn0.2cK5Km-N4wEc-pxayyZ9wHQmSlyVe-0gRWCu_bZHlz4</string>
</dict>
</plist>
